# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $environment: '%kernel.environment%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/DTO/'
            - '../src/Entity/'
            - '../src/Exception/'

    App\Bus\Interface\CommandBusInterface:
        class: App\Bus\MessengerCommandBus
        arguments:
            $commandBus: '@command_bus'

    App\Bus\Interface\QueryBusInterface:
        class: App\Bus\MessengerQueryBus
        arguments:
            $queryBus: '@query_bus'
